ul {
  padding: 0;
  list-style: none;
  background-color: var(--ui-bg-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1;
  border-top-right-radius: var(--ui-container-radius);
  border-bottom-right-radius: var(--ui-container-radius);
  pointer-events: none;

  li {
    pointer-events: initial;
    padding: 4px;
  }

  hr {
    border-top: 1px solid #333;
  }
}
