.wrapper {
  display: inline-block;
  background-color: var(--bg-color, light-blue);
  padding: 2px 3px;
  border-radius: 3px;
  margin-right: 4px;
  border: 1px solid var(--bg-color, light-blue);
  cursor: pointer;

  &:hover:not(:has(app-icon:hover)) {
    border-color: #00f;
  }

  app-icon {
    margin-left: 8px;
    padding: 0 4px;
    background-color: var(--ui-bg-transparent);
    border-radius: var(--ui-border-radius-normal);

    border: 1px solid var(--bg-color, light-blue);

    &:hover {
      border-color: #00f;
    }
  }
}
