dialog {
  width: 75vw;
  height: 75vh;
  padding: 0;
  grid-template-columns: 50px 1fr;
  grid-template-rows: 1fr 1fr 1fr;

  &[open] {
    display: grid;
  }

  canvas {
    grid-column: 1/-1;
    grid-row: 1/-1;
    cursor: crosshair;
  }

  app-drawing-canvas-tools {
    margin-right: auto;
    grid-column: 1;
    grid-row: 2;
    z-index: 2;
  }
}
