button {
  background-color: transparent;
  outline: none;
  border: none;
  cursor: pointer;

  &:disabled {
    cursor: not-allowed;
    --ui-icon-color: var(--ui-color-disabled);
  }
}

div[popover] {
  background: transparent;
  border: none;
  position: absolute;
  inset: unset;
  z-index: 100;
  left: 0;
}
