.wrapper {
  button {
    background-color: transparent;
    width: var(--menu-size, 24px);
    height: var(--menu-size, 24px);
    border: none;
    outline: 1px solid transparent;

    &:focus {
      outline: var(--ui-outline-focus);
    }
  }

  div[popover] {
    font-size: 16px;
    position: absolute;
    inset: unset;
    z-index: 100;
    top: 0;
    left: -300px;
    min-width: 200px;
    text-align: left;

    &:popover-open {
      display: block;
    }

    ::ng-deep {
      [appKebabItem] {
        padding-top: 2px;
        padding-bottom: 2px;
        width: 100%;
      }

      [appKebabSeparator] {
        width: 100%;
      }
    }
  }

  ::backdrop {
    backdrop-filter: blur(3px) grayscale(100%);
  }
}
